<div class="col-4">
  <select
    class="form-control"
    id="pCategory"
    name="pCategory"
    (change)="selectUser($event)"
  >
    <option value="">Choose a user</option>
    <option *ngFor="let user of users" [value]="user.id" >{{ user.name }}</option>
  </select>
</div>

<div *ngIf="todos.length>0">
<h3>Todos List</h3>
<table >
  <thead>
    <tr>
      <th>Checkbox</th>
      <th >Todos </th>
      <th >Status </th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let todo of todos; let i=index">  
      <td><input type="checkbox" [(ngModel)]="todo.completed" (ngModelChange)="changeStatus($event,i)"></td>  <td>{{todo.title}}</td>
      <td >{{todo.completed}}</td>      
    </tr>
  </tbody>
</table>
</div>
